{% extends 'base.html' %}
{% load static %}
{% block metadesc %}

        {{ product.desc|truncatewords:155 }}

{% endblock %}
{% block title %}
    {% if category %}
        {{ product.name }} - ECOM Store
    {% endif %}        
{% endblock %}
{% block content %}
<div>
    <div>
        <p><a class="my_link" style="text-decoration: none; " href="{% url 'shop:ProdCat' %}">Home</a> | <a style="text-decoration: none;" href="product.category.get_url">{{product.category}}</a> | {{product.name}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-5">
        <div>
            <img src="{{product.img.url}}" alt="{{product.name}}" width="500px" height="500px">
        </div>
    </div>
    <div class="col-xl-7 mt-5">
        <div>
            <h3>{{product.name}}</h3>
            <h5>${{product.price}}</h5>
            <p><b><u>Specifications</u></b></p>
            <p>{{product.desc}}</p>
            {% if product.stock <= 0 %}
            <p class="text-danger"><b>Out Of Stock</b></p>
            {% else %}
            <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Add To Cart</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}